<!--包含头部文件-->
{include file="public/header" /}
<script>
	let SCOPE = {
		'get_city_url': '{:url("bssystem/Register/getCityOfProv")}',
		'get_cate_url': '{:url("bssystem/Register/getSubCategory")}',
		'image_uplaod': '{:url("bssystem/Image/upload")}',
		'public_path' : "{:url('/')}",
	}
</script>

<body>
<div class="cl pd-5 bg-1 bk-gray mt-20"> <h1>商户入驻申请详情/更新</h1></div>
<article class="page-container">
	<form class="form form-horizontal" method="post" action="{:url('admin/BsSys/updateRegister')}">
		<input type="text" hidden name="busi_id" value="{$busiObj.id}">
		<input type="text" hidden name="busi_loc_id" value="{$busiLocObj.id}">
		<input type="text" hidden name="curr_url" value="{$currUrl}">
	基本信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商户名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.name}" placeholder="" id="" name="name" required>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
			<div class="formControls col-xs-8 col-sm-2"> 
				<span class="select-box">
				<select name="city_id" class="select cityId" required>
					<option value="-1">--请选择--</option>
					{volist name="data" id="vo"}
						<option value="{$vo.id}" {if $cityObj && $cityObj.id==$vo.id}selected{/if}>{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="se_city_id" class="select se_city_id">
					<option value="-1">--请选择--</option>
					<option value="{$cityPathObj.id}" {if $cityPathObj.id} selected {/if}>{$cityPathObj.name}</option>
				</select>
				</span> 
			</div>
		</div>
		
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
              <div class="formControls col-xs-8 col-sm-9">
				  <div id="file_upload"></div>
				  <img id="upload_org_code_img" src="__PUBLIC__/{$busiObj.logo}" width="150" height="150" alt="{$busiObj.logo}">
				  <input id="file_upload_image" name="logo" type="hidden" multiple value="{$busiObj.logo}">
              </div>
        </div>
        <div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">营业执照：</label>
              <div class="formControls col-xs-8 col-sm-9">
				  <div id="file_upload_other"></div>
                  <img id="upload_org_code_img_other" src="__PUBLIC__/{$busiObj.licence_logo}" width="150" height="150" alt="{$busiObj.licence_logo}">
				  <input id="file_upload_image_other" name="licence_logo" type="hidden" multiple value="{$busiObj.licence_logo}">
              </div>
        </div>
        
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商户介绍：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor1"  type="text/plain" name="description" style="width:80%;height:300px;">{$busiObj.desc|raw|html_entity_decode}</script>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">银行账号:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.bank_info}" placeholder="" id="" name="bank_info">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">开户行名称:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.bank_name}" placeholder="" id="" name="bank_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">开户行姓名:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.bank_user}" placeholder="" id="" name="bank_user">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">法人:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.faren}" placeholder="" id="" name="faren">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">法人电话:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiObj.faren_tel}" placeholder="" id="" name="faren_tel">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="email" class="input-text" value="{$busiObj.email}" placeholder="" id="" name="email" required>
			</div>
		</div>
		总店信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">电话:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiLocObj.tel}" placeholder="" id="" name="tel">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">联系人:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiLocObj.contact}" placeholder="" id="" name="contact">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="category_id" class="select categoryId" required>
					<option value="-1">--请选择--</option>
					{volist name="cate" id="vo"}
						<option value="{$vo.id}" {if $busiLocObj.category_id && $busiLocObj.category_id==$vo.id}selected{/if}>{$vo.name}</option>
					{/volist}
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属子类：</label>
			<div class="formControls col-xs-8 col-sm-3 skin-minimal">
				<div class="check-box se_category_id">
					{volist name='catePath' id='vo'}
						<label for="catePath"><input type="checkbox" id="catePath" checked disabled>{$vo.name}</label>
					{/volist}
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商户地址：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiLocObj.address}" placeholder="" id="" name="address" required>
			</div>
			<a  class="btn btn-default radius ml-10 maptag">标注</a>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">营业时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$busiLocObj.open_time}" placeholder="" id="" name="open_time">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">门店简介：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor"  type="text/plain" name="content" style="width:80%;height:300px;">{$busiLocObj.content|raw|html_entity_decode}</script>
			</div>
		</div>

		账号信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">用户名:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$accoObj.username}" placeholder="" id="username" name="username" readonly>
			</div>
		</div>

		状态修改：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">状态:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="checkbox" class="input-sm"  {if $busiObj.status=="Y"}checked{/if} placeholder="" id="status" name="status">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;&nbsp;&nbsp;</i>更新</button>
			</div>
		</div>
	</form>
</article>

<!--包含尾部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<!--分配编辑器-->
<script>
$(function(){
	var ue = UE.getEditor('editor');
	var ue1 = UE.getEditor('editor1');
});
</script>


</body>

